@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Inter", sans-serif;
}

body {
    background-color: #000;
}

.navbar {
    height: fit-content;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 10;
    padding: 12px 20px;
    transition: 0.4s ease;
    background-color: #fff;
    color: #000;
    box-shadow: 3px 3px 20px 3px rgba(0,0,0,0.3);
}

/* Nav Toggle Button */
.nav-toggle {
    display: none;
    font-size: 30px;
    color: #000;
    background: none;
    border: none;
    padding: 10px;
}

/* Sticky Navbar */
.sticky {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1000;
}


.navbar a {
    color: #fff;
    text-decoration: none;
}

.navbar #logo img {
    width: 70px;
}

.navbar ul {
    display: flex;
    justify-content: center;
    align-items: center;
}

.navbar ul li {
    list-style-type: none;
}

.navbar ul li a {
    margin: 13px;
    font-size: 17px;
    font-weight: 500;
    text-transform: capitalize;
}

.socialIcons a i {
    margin: 6px;
    font-size: 17px;
    font-weight: 400;
    color: #000;
}

.home {
    position: relative;
    height: 100vh;
    width: 100%;
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
}

.home:before {
    z-index: 2;
    content: '';
    position: absolute;
    background: rgba(0, 0, 0, 0.3);
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
}
    
.home img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.home h1 {
    color: #fff;
    position: relative;
    font-size: 72px;
    font-weight: 100;
    text-align: center;
    z-index: 3;
}

.home h1 span {
    font-weight: 800;
}

.titleSection {
    height: fit-content;
    width: 100%;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #000;
    padding-top: 130px;
    font-size: 34px;
    letter-spacing: 2px;
}

.chisiamo {
    height: fit-content;
    width: 100%;
    padding-bottom: 0px;
    background-color: #fff;
}

.about {
    height: fit-content;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 50px;
}

.about .main img {
    width: 420px;
    max-width: 100%;
    height: auto; /*height: auto;*/
    border-radius: 5px;
}

.all-text {
    width: 600px;
    max-width: 100%;
    padding: 0 10px;
}

.main {
    width: 1290px;
    max-width: 95%;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;
}

.all-text h4 {
    font-size: 18px;
    color: #000;
    letter-spacing: 1px;
    font-weight: 400;
    margin-bottom: 10px;
}

.all-text h1 {
    font-size: 44px;
    color: #000;
    font-weight: 700;
    margin-bottom: 20px;
    line-height: 65px;
}

.all-text p {
    font-family: "Roboto", sans-serif;
    font-size: 17px;
    color: #000;
    line-height: 30px;
    font-weight: 500;
    margin-bottom: 35px;
}

.servizi {
    height: fit-content;
    width: 100%;
    background: #fff;
    padding-bottom: 130px;
}

.servizi .titleSection {
    color: #000;
}

.serviziSection {
    height: fit-content;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    padding-top: 50px;
}

.altroServizio {
    background-color: #fff;
    height: fit-content;
    width: 330px;
    margin: 10px;
    box-shadow: 3px 3px 20px 3px rgba(0,0,0,0.3);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding-top: 25px;
    padding-bottom: 45px;
    border-radius: 8px;
}

.altroServizio .logoServizio {
    height: 130px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.altroServizio .logoServizio i {
    font-size: 40px;
}

.altroServizio .titoloServizio {
    height: fit-content;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.altroServizio .titoloServizio h2 {
    font-size: 30px;
    font-weight: 400;
    margin-top: 10px;
}

.altroServizio .testoServizio {
    margin-top: 25px;
    padding: 15px;
}

.altroServizio .testoServizio p {
    text-align: center;
    font-weight: 500;
    font-size: 15px;
}

.prenotazione {
    position: relative;  /* Required for the ::after pseudo-element positioning */
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    min-height: fit-content;
    width: 100%;
    background-image: url("./immagini/WhatsApp%20Image%202024-06-18%20at%2015.52.35%20(4).jpeg");
    background-size: cover;
    background-repeat: no-repeat;
    color: #efefef;
    padding-bottom: 100px;
    z-index: 0;  /* Ensure the content appears above the overlay */
}

.prenotazione::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.3);  /* Adjust the opacity as needed */
    z-index: -1;  /* Ensure the overlay stays behind the content */
}

.prenotazione .titleSection {
    padding-top: 100px;
}

.prenotazione h1 {
    color: #efefef;
}

.prenotazione .contenuto-prenotazione {
    margin-top: 50px;
    text-align: center;
    font-size: 30px;
    font-weight: 400;
    font-style: italic;
}

.prenotazione a {
    margin-top: 50px;
    padding: 20px 30px;
    border: none;
    border-radius: 8px;
    text-decoration: none;
    color: #000;
    background-color: #fff;
    transition: 0.4s;
}

.prenotazione a:hover {
    opacity: 0.87;
}

.galleria {
    padding: 5rem 10%;
    background-color: #fff;
}

.container-images {
    max-width: 1200px;
    margin: 0 auto;
    margin-top: 100px;
}

.wrapper {
    position: relative;
}

.carousel {
    display: flex;
    overflow-x: auto;
    scroll-behavior: smooth;
    -webkit-overflow-scrolling: touch;
    scrollbar-width: none;
    -ms-overflow-style: none;
    border-radius: 8px;
}

.carousel::-webkit-scrollbar {
    display: none;
}

.carousel img {
    flex: 0 0 auto;
    width: 400px;
    height: 300px;
    object-fit: cover;
    margin-right: 14px;
    border-radius: 10px;
    transition: all 0.3s ease;
}

.wrapper i {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    height: 46px;
    width: 46px;
    background-color: #000;
    border-radius: 50%;
    text-align: center;
    line-height: 46px;
    color: #efefef;
    font-size: 1.2rem;
    cursor: pointer;
    transition: all 0.3s ease;
}

.wrapper i:first-child {
    left: -23px;
}

.wrapper i:last-child {
    right: -23px;
}

.contatto {
    background-color: #fff;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
    padding-top: 100px;
    padding-bottom: 100px;
}

.container {
    max-width: 1200px; /* Increased max-width for better spacing */
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.info {
    padding: 0 50px;
    flex: 1;
}

.info .titleSection {
    margin: 0;
    text-align: left;
    padding: 0;
    width: fit-content;
    margin-bottom: 25px;
}

.intro-text {
    font-size: 18px;
    line-height: 1.6;
    color: #666;
    margin-bottom: 30px;
}

.contact-info {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.info-item {
    display: flex;
    align-items: center;
    gap: 10px;
}

.info-item .icon {
    font-size: 24px;
    color: #333;
}

.info-item .text {
    font-size: 18px;
    color: #666;
}

.map {
    width: 100%;
    padding: 50px 20px;
    border-radius: 10px;
    overflow: hidden;
}

.map iframe {
    width: 100%;
    height: 460px;
    border: none;
    border-radius: 10px;
}


